<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>186****1766 已中：客源名额500个</string>
	<string>153****1201 已中：客源名额500个</string>
	<string>152****7055 已中：永久钻石会员</string>
	<string>158****8618 已中：黄金会员1天</string>
	<string>186****6711 已中：永久黄金会员</string>
	<string>153****1201 已中：客源名额500个</string>
	<string>158****8618 已中：黄金会员1天</string>
	<string>188****3432 已中：iPhone7</string>
	<string>133****6082 已中：永久钻石会员</string>
	<string>152****3211  已中：iPhone 6s</string>
	<string>133****6082 已中：永久钻石会员</string>
	<string>186****8603 已中：客源名额50</string>
	<string>152****2237 已中：钻石会员30天</string>
	<string>136****2406 已中客源名额500个</string>
	<string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
    <string>186****1766 已中：客源名额500个</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>152****7055 已中：永久钻石会员</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>186****6711 已中：永久黄金会员</string>
    <string>153****1201 已中：客源名额500个</string>
    <string>158****8618 已中：黄金会员1天</string>
    <string>188****3432 已中：iPhone7</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>152****3211  已中：iPhone 6s</string>
    <string>133****6082 已中：永久钻石会员</string>
    <string>186****8603 已中：客源名额50</string>
    <string>152****2237 已中：钻石会员30天</string>
    <string>136****2406 已中客源名额500个</string>
    <string>186****8603 已中：客源名额50</string>
</array>
</plist>
